@font-face{
	
	font-family: 'archivo-narrow';
	 src: url(../static/fonts/archivo-narrow/ArchivoNarrow-Bold.otf);
	 src: url(../static/fonts/archivo-narrow/ArchivoNarrow-BoldItalic.otf);
	 src: url(../static/fonts/archivo-narrow/ArchivoNarrow-Italic.otf);
	 src: url(../static/fonts/archivo-narrow/ArchivoNarrow-Regular.otf);
	 
}