@font-face{
	
	font-family: 'archivo-narrow';
	 src: url(/home/isha/Documents/Contrivance/contrivance/fonts/archivo-narrow/ArchivoNarrow-Bold.otf);
	 src: url(/home/isha/Documents/Contrivance/contrivance/fonts/archivo-narrow/ArchivoNarrow-BoldItalic.otf);
	 src: url(/home/isha/Documents/Contrivance/contrivance/fonts/archivo-narrow/ArchivoNarrow-Italic.otf);
	 src: url(/home/isha/Documents/Contrivance/contrivance/fonts/archivo-narrow/ArchivoNarrow-Regular.otf);
	 
}