<!DOCTYPE html>
<html>
<head>
	<title>Player page</title>
	<link rel="stylesheet" type="text/css" href="/home/isha/Contrivance/iplauction/templates/player.css" />
	<link rel="stylesheet" href="/home/isha/Contrivance/iplauction/templates/font.css">
</head>
<body>
	<div class="left_screen"></div>   
	<div class="right_screen">
		<b> 
		    <span class="mini-para">
				<h1>John Doe</h1>
		    	<p class="attribute1">Country</p>
				<p class="attribute2">Category</p>
				<p class="attribute1">Base Price</p>
				<p class="attribute2">XP</p>

			</span>
		</b>
	</div>

</body>
</html>
