<!DOCTYPE html>
<html>
<head>
	<title>Team Page</title>
	<link rel="stylesheet" type="text/css" href="../static/css/team.css" />
	<link rel="stylesheet" href="../static/css/font.css">
</head>
<body>
	<div class="upper-screen">
		<img src="../static/img/316958.png">
		<p class="upper-content">Budget</p>
	</div>
	<div class="lower-screen">
		<h2>Players</h2>
			<a href="" class="content-1" target="_blank"><p class="content-1"><b>Arya Stark</b></p></a>
			<a href="" target="_blank" class="content-1"><p class="content-2"><b>Jonn Snow</b></p></a>
			<a href="" target="_blank" class="content-1"><p class="content-1"><b>Rob Stark</b></p></a>
			<a href="" target="_blank" class="content-1"><p class="content-2"><b>Tyrion Lannister</b></p></a>
			<a href="" target="_blank" class="content-1"><p class="content-1"><b>Tywin Lannister</b></p></a>
	</div>
</body>
</html>