<!DOCTYPE html>
<html>
<head>
	<title>Team Page</title>
	<link rel="stylesheet" type="text/css" href="/home/isha/Contrivance/iplauction/static/css/team.css" />
	<link rel="stylesheet" href="/home/isha/Contrivance/iplauction/static/css/font.css">
</head>
<body>
	<div class="upper-screen">
		<img src="/home/isha/Contrivance/iplauction/static/img/316958.png">
		<p class="upper-content">Budget</p>
	</div>
	<div class="lower-screen">
		<h3>Players</h3>
		<ul class="list">
			<a href="" target="_blank"><li class="list-sub1">Arya Stark</li></a>
			<a href="" target="_blank"><li class="list-sub2">Jonn Snow</li></a>
			<a href="" target="_blank"><li class="list-sub1">Rob Stark</li></a>
			<a href="" target="_blank"><li class="list-sub2">Tyrion Lannister</li></a>
		</ul>
	</div>
</body>
</html>